---
layout: base.njk
title: About
permalink: /about/
showClaim: false
showName: true
sectionName: About
---

<div class="section-container about-container">
  <div class="about-image">
    <img src="https://images.unsplash.com/photo-1493225457124-a3eb161ffa5f?w=800&q=80" alt="Josep Bernad" />
  </div>
  
  <div class="about-content">
    <p data-i18n-html="about.bio1"></p>
    <p data-i18n-html="about.bio2"></p>
    <p data-i18n-html="about.bio3"></p>
  </div>
</div>

