---
layout: base.njk
title: Films
permalink: /films/
showClaim: false
showName: true
---

<a href="/" class="back-link">← Back</a>

<h1 class="page-title">Films</h1>

<!-- Film content will go here -->

