---
layout: base.njk
title: Films
permalink: /films/
showClaim: false
showName: true
sectionName: Films
---

<div class="section-container films-container">
  {% for film in films %}
  <a href="{{ film.url }}" target="_blank" rel="noopener noreferrer" class="film-card{% if film.tags[0] == 'Live Set' %} film-card--live{% endif %}">
    <div class="film-thumbnail">
      <img src="https://img.youtube.com/vi/{{ film.videoId }}/maxresdefault.jpg" alt="{{ film.title }}" loading="lazy">
      <div class="film-play">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path d="M8 5v14l11-7z"/>
        </svg>
      </div>
    </div>
    <div class="film-info">
      <h2 class="film-title">{{ film.title }}</h2>
      <div class="film-tags">
        {% for tag in film.tags %}
        <span class="film-tag">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>
    <span class="film-location">{{ film.location }}</span>
    <span class="film-date" data-year="{{ film.date.split('-')[0] }}" data-month="{{ film.date.split('-')[1] }}"></span>
  </a>
  {% endfor %}
</div>

