---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
# Robots.txt for josepbernad.com

User-agent: *
Allow: /

# Block internal data files from indexing
Disallow: /data/

# Sitemap location
Sitemap: https://josepbernad.com/sitemap.xml


