---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <!-- English Pages -->
  <url>
    <loc>https://josepbernad.com/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/"/>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/films/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/films/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/films/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/films/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/films/"/>
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/about/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/about/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/about/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/about/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/about/"/>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/contact/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/contact/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/contact/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/contact/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/contact/"/>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  
  <!-- Spanish Pages -->
  <url>
    <loc>https://josepbernad.com/es/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/"/>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/es/films/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/films/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/films/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/films/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/films/"/>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/es/about/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/about/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/about/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/about/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/about/"/>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/es/contact/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/contact/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/contact/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/contact/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/contact/"/>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  
  <!-- Catalan Pages -->
  <url>
    <loc>https://josepbernad.com/ca/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/"/>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/ca/films/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/films/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/films/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/films/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/films/"/>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/ca/about/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/about/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/about/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/about/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/about/"/>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/ca/contact/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/contact/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/contact/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/contact/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/contact/"/>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
</urlset>
