---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
{%- set buildDate = page.date.toISOString().split("T")[0] -%}
{%- set filmsLastMod = (films.items[0].date + "-01") if films.items[0] else buildDate -%}
{%- set upcomingFirst = (live.upcoming | upcomingOnly | first) -%}
{%- set liveLastMod = upcomingFirst.date if upcomingFirst else buildDate -%}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <!-- English Pages -->
  <url>
    <loc>https://josepbernad.com/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/"/>
    <lastmod>{{ buildDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/films/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/films/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/films/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/films/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/films/"/>
    <lastmod>{{ filmsLastMod }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/about/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/about/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/about/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/about/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/about/"/>
    <lastmod>{{ buildDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/contact/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/contact/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/contact/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/contact/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/contact/"/>
    <lastmod>{{ buildDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/live/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/live/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/live/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/live/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/live/"/>
    <lastmod>{{ liveLastMod }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/press-kit/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/press-kit/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/press-kit/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/press-kit/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/press-kit/"/>
    <lastmod>{{ buildDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>

  <!-- Spanish Pages -->
  <url>
    <loc>https://josepbernad.com/es/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/"/>
    <lastmod>{{ buildDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/es/films/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/films/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/films/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/films/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/films/"/>
    <lastmod>{{ filmsLastMod }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/es/about/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/about/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/about/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/about/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/about/"/>
    <lastmod>{{ buildDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/es/contact/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/contact/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/contact/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/contact/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/contact/"/>
    <lastmod>{{ buildDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/es/live/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/live/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/live/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/live/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/live/"/>
    <lastmod>{{ liveLastMod }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/es/press-kit/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/press-kit/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/press-kit/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/press-kit/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/press-kit/"/>
    <lastmod>{{ buildDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>

  <!-- Catalan Pages -->
  <url>
    <loc>https://josepbernad.com/ca/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/"/>
    <lastmod>{{ buildDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/ca/films/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/films/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/films/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/films/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/films/"/>
    <lastmod>{{ filmsLastMod }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/ca/about/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/about/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/about/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/about/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/about/"/>
    <lastmod>{{ buildDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/ca/contact/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/contact/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/contact/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/contact/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/contact/"/>
    <lastmod>{{ buildDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/ca/live/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/live/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/live/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/live/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/live/"/>
    <lastmod>{{ liveLastMod }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/ca/press-kit/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/press-kit/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/press-kit/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/press-kit/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/press-kit/"/>
    <lastmod>{{ buildDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
</urlset>
